#chamber {
	width: 960px;
/*	background: blue;*/
	margin: 40px auto;
}
#chamber .chamberview {
	position: relative;
	width: 960px;
	height: 250px;
	border-top: 3px solid #3096d1;
	border-bottom: 3px solid #3096d1;
	/*background-size: contain;
	background-repeat: no-repeat;*/
	font-family: "Aperture";
	color: #3e88b3;
	text-transform: uppercase;
}
.chamberchaptername {
	font-size: 20px;
	opacity: 0;
}
.chamberchambername {
	font-size: 37.5px;
	font-weight: bold;
	opacity: 0;
	color: #323C40;
}
.chamberinfo {
	margin: 93px auto;
	text-align: center;
	/*color: #E1E8EB;*/
	color: #323C40;
	opacity: 0.9;
	line-height: 28px;
	width: 600px;
}
#chamber .entry {
	width: 100%;
	background: #ededed;
	height: 41px;
	border-bottom: 1px solid #a9a9a9;
}

#chamber .entry *  {
	float: left;
	font-family: Tahoma, Arial;
	color: #4A4A4A;
	font-size: 12px;
	padding-top: 14px;
}
#chamber .entry .place {
	text-align: center;
	width: 80px;
}
#chamber .entry .name {
	width: 300px;
	text-transform: uppercase;
	font-weight: bold;
}
#chamber .entry .name a {
	padding-top: 0px;
	text-decoration: none;
}
#chamber .entry .score {
	float: right;
	width: 100px;
	text-align: right;
	padding-right: 40px;
}
.you *, .you a {
	color: #226D99 !important;
	font-weight: bold;
	text-decoration: underline !important;
}
.seperate {
    display: inline-block;
    opacity: 0;
}
.previous_map {
	position: absolute;
	background: url("images/previous.png");
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	display: block;
	opacity: 0.25;
	top: 105px;
	left: 5px;
}
.next_map {
	position: absolute;
	background: url("images/next.png");
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	display: block;
	opacity: 0.25;
	right: 5px;
	top: 105px;
}
.previous_map:hover, .next_map:hover {
	opacity: 0.6;
}