@font-face{ 
	font-family: 'Aperture';
	src: url('din1451alt.eot');
	src: url('din1451alt.eot?#iefix') format('embedded-opentype'),
	     url('din1451alt.woff') format('woff'),
	     url('din1451alt.ttf') format('truetype'),
	     url('din1451alt.svg#din1451alt') format('svg');
}
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: url("images/debut_light.png") repeat;
	font-family: Tahoma;
	font-size: 11px;
}
a {
	color: #000;
}
a:hover {
	text-decoration: none;
}
#header {
	background: url("images/header_bg.jpg");
	/*width: 100%;*/
	height: 92px;
	min-width: 960px;
}
#header_left, #header_right {
	height: 92px;
}
#header_left {
	float: left;
	padding: 0px 0px 0px 32px;
	position: relative;
	min-width: 750px;
}
#header_right {
	float: right;
	display: table;
	margin-right: 45px;
}

#sitetitle {
	font-family: Arial;
	font-size: 24px;
	color: #4b4b4b;
	letter-spacing: -2px;
	float: left;
	position: relative;
	top: -4px;
}
#navigation {
	height: 29px;
	display: block;
	position: absolute;
	top: 58px;
	left: 23px;
}
#navigation a {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #3d3d3d;
	text-decoration: none;
	display: inline-block;
}
.nav_icons {
    background: url("images/icon1.jpg");
    width: 29px;
    height: 29px;
    float: left;
    display: inline-block;
    margin: -7px 10px 0px 10px;
}
#coop_icon {
	background: url("images/icon2.jpg");
}
#ch_icon {
	background: url("images/icon3.jpg");
}
#lp_icon {
	background: url("images/icon4.jpg");
}
#wallofshame_icon {
	background: url("images/icon5.jpg");
}
#ss_icon {
	background: url("images/icon6.jpg");
}
#loginsteam {
	display: block;
	width: 154px;
	height: 23px;
	background: url("images/signsteam.png");
	float: left;
	margin: 15px 25px 0px 0px;
}
#userinfo {
	height: 49px;
	display:table-cell; 
	vertical-align:middle;
	/* shit will not work in IE */
}
#seper {
	height: 49px;
	width: 2px;
	background: #3096d1;
	float: left;
}
#edition {
	float: left;
	margin: 5px 0px 0px 15px;
	background: url(../images/cakeicon.png) no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
}
.avatar {
	float: left;
	width: 32px;
	height: 32px;
	margin: 8px 15px 0px 5px;
}
#welcome {
	float: left;
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #424242;
	text-align: right;
	margin: 8px 10px 0px 15px;
}
.threelines {
	margin: 0px 10px 0px 15px !important;
}
#welcome .firstline {
	font-weight: bold;
}
.chamber {
	display: block;
	width: 264px;
	height: 339px;
	background: #f0f0f0;
	border-bottom: 2px solid #c3c3c3;
	float: left;
	margin: 10px 0px 10px 20px;
}
.chamber.leastportals {
	height: 149px;
}
.chamber.leastportals .chamberimage {
	border-bottom: 3px solid #3096d1;
}
.portalsused {
	text-align: center;
	margin-top: 55px;
	color: #e1e1e1;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	text-shadow: 0px 0px 3px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=0);
}
.portalamount {
	display: inline-block;
	font-size: 34px;
	position: relative;
	top: 3px;
}
.chambers {
	margin: 30px 0px 0px 0px;
	float: left;
	clear: both;
}
.chamberinfo {
	width: 264px;
	height: 149px;
}
.chamberimage {
	border-top: 3px solid #3096d1;
	width: 264px;
	height: 149px;
}
.chambertitle {
	height: 34px;
	float: right;
}
.titlebg {
	background: url("images/chamber_title_bg.jpg");
	height: 26px;
	font-family: "Aperture";
	font-size: 16px;
	color: #565656;
	text-transform: capitalize;
	float: right;
	padding: 8px 10px 0px 6px;
}
.titlebg a {
	color: #565656;
	text-decoration: none;
}
.titlebg a:hover {
	text-decoration: underline;
}
.titlebghelper {
	background: url("images/titlebghelper.png");
	width: 20px;
	height: 34px;
	float: left;
}
.chamber_scores .firstplace {
	height: 37px;
	background: #dcdcdc;
	color: #3e3e3e;
	font-weight: bold;
}
.chamber_scores {
	width: 264px;
	font-family: Arial;
	font-size: 12px;
	text-transform: uppercase;
}
.chamber_scores .firstplace .entry .name {
	float: left;
	padding: 11px 0px 0px 17px;
}
.chamber_scores .firstplace .entry .score {
	float: right;
	padding: 11px 16px 0px 0px;
}
.chamber_scores .firstplace .entry {
	font-size: 12px;
	padding: 0px 0px 0px 0px;
}
.chamber_scores .entry {
	width: 264px;
	float: left;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 0px 3px 0px;
}
.chamber_scores .entry .name {
	float: left;
	padding: 0px 0px 0px 15px;
}
.chamber_scores .entry .score {
	float: right;
	padding: 0px 17px 0px 0px;
}
.chamber_scores .othernoobscores {
	margin: 6px 0px 0px 0px;
	color: #3e3e3e;
}
.icons {
	width: 16px;
	height: 16px;
	display: block;
	float: right;
	margin: 0px 5px 0px 0px;
}
.youtube_icon {
	background: url("images/youtube_icon.png");
    cursor: pointer;
}
.steam_icon {
	background: url("images/steam_icon.png");
}
.chamber_icons {
	position: relative;
	top: 92px;
	left: -6px;
}
.chapternumber, .chaptername, h1, h2 {
	font-family: "Aperture";
	font-size: 20px;
	color: #3e88b3;
	text-transform: uppercase;
}
.chaptername {
	font-size: 40.5px;
	margin-top: -20px;
}
.chapterinfo {
	height: 45px;
	margin: 15px 0px 15px 20px;
	clear: both;
	float: left;
}
#wrapper {
	min-height: 100%;
	min-width: 1100px;
}
#content {
	overflow: hidden;
	float: left;
	padding-bottom: 56px;
	/* DIFFERENT IN CHANGELOG, NUCLEAR */
	min-width: 100%;

}
#footer {
	background: url("images/footerbg.jpg") repeat;
	margin-top: -56px;
	height: 56px;
	clear: both;
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #4c4c4c;
    padding: 0 20px;
}
#footer a {
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}
.footerleft {
	float:left;
    margin-top: 16px;
}
.footeright {
	float: right;
    line-height: 56px;
}
#filters {
	width: 98%;
	height: 30px;
	background: green;
	margin: 30px auto;
	height: 96px;
	border: 1px solid #94bec8;
	background: #ededed;
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-weight: bold;
	color: #4b4b4b;
}
#filter_instructions_lol {
	margin: 5px 0px 5px 10px;
}
input, label {
	display: block;
}
label {
	font-weight: normal;
	margin: 0px 0px 5px 2px;
}
input[type=text] {
	height: 27px;
	font-family: Tahoma, Arial;
	font-size: 11px;
	border: 1px solid #c2cbd0;
	background: #e5e5e5;
	padding-left: 5px;
}
.input {
	margin: 10px 10px 0px 12px;
}
.checkbox {
	display: block;
	width: 21px;
	height: 21px;
	background:url("images/unticked.png");
	cursor: pointer;
	text-align: center;
	margin: 7px auto;
}
.ticked {
	background:url("images/ticked.png");
}
.check {
	margin: 10px 0px 0px 20px;
	font-weight: normal;
}
input[type=submit] {
	background: url("images/filterbutton.png");
	width: 70px;
	height: 28px;
	border: 0;
	font-weight: bold;
	cursor: pointer;
	font-size: 11px;
	font-family: Tahoma, Arial;
	color: #7b7b7b;
}
#changelog, .datatable {
	width: 98%;
	margin: 30px auto;
	font-family: Tahoma, Arial;
	font-size: 11px;
	min-width: 960px;
}
#changelog #firstentry, .datatable #firstentry {
	background: #dadada;
	border-top: 2px solid #5597bd;
	border-bottom: 1px solid #adadad;
	height: 41px;
	font-weight: bold;
}
#changelog a {
    text-decoration: none;
}
#changelog a:hover {
    text-decoration: underline;
}
#otherentries .entry, .datatable #otherentries .entry {
	width: 100%;
	background: #ededed;
	height: 41px;
	border-bottom: 1px solid #a9a9a9;
}
#otherentries .entry.hidden, .datatable #otherentries .entry.hidden {
    color: #a5a5a5;
}
/* What the fuck is this selector, Nuclear? */
#otherentries:nth-child(2) {
	background: #e6e6e6;
}
.time, .player, .map, .chapter, .newscore, .previousscore, .worldrecord, .datatable #firstentry div, .datatable .entry div {
	height: 29px;
	float: left;
	padding: 12px 0px 0px 10px;
}
.time {
	padding: 12px 0px 0px 20px;
}
.time, .player, .map, .chapter {
	width: 15%;
}
.newscore, .previousscore, .worldrecord {
	width: 10%;
}
.wr {
	background: url("images/wr.png");
	width: 20px;
	height: 20px;
	margin: 0 auto;
}
.worldrecord {
	text-align: center;
}
#changelog_download {
	float: right;
	margin: 0px 10px 0px 0px;
	font-size: 10px;
	color: #858585;
}
.normalcontent {
	float: left;
	margin: 20px 0px 0px 22px;
	font-family: Arial;
	font-size: 12px;
	width: 960px;
	clear: both;
}
.normalcontent * {
	margin: 10px 0px 0px 0px;
}
#donate a {
	font-size: 10px;
	font-weight: bold;
	color: #7c7c7c;
}
.twoplayers {
    width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: ltr;
    display: inline-block;
    height: 14px;
    white-space: nowrap;
}
.changes_entry {
	font-weight: bold;
}
.changes_info {
	margin-left: 30px;
}
.plsgibmoni {
	width: 97%;
	margin: 15px auto 0px;
	background: #F0F0F0;
	border: 1px solid #A1B9C9;
	color: #474747;
	font-size: 11px;
	font-family: Tahoma, Arial;
	padding: 10px;
}
.plsgibmoni a {
	color: #6B6B6B;
	font-weight: bold;
}
.highlight {
	color: #3e88b3;
}
.chamber_scores .firstplace .entry.highlight {
	color: #3484B3;
}
.wallofshame .chapterinfo {
	float:none;
}
.wallofshame .banana { 
	font-family: Arial, sans-serif;
	font-size: 11px;
	margin-left:25px;
}
.wallofshame .banana p {
	margin:0;
	padding:0;
}
.wallofshame #content {
	padding-top:20px;
}
.wallofshame .banana a {
	font-weight:bold;
	color:#000;
	text-decoration:none;
}
.wallofshame .banana a.playername {
	color:#3484B3;
}
.wallofshame .banana a:hover {
	text-decoration:underline;
}
.wallofshame .banana .chambername {
	min-width:175px;
	display:inline-block;
}
.wallofshame .banana .playernamewrapper {
	margin-left:50px;
}
.wallofshame .banana.banned-scores {
	margin-bottom:40px;
}
.col-2set.singlesegment {
	max-width: 1800px;
	margin: 30px auto;
	padding:0 15px;
}
.col-2set.singlesegment .datatable {
	min-width: 100%;
}
.col-2set.singlesegment h1 {
	font-size: 34px;
}
.col-2set.singlesegment .col1, .col-2set.singlesegment .col2 {
	width: 50%;
}
.col-2set.singlesegment .col1 {
	float: left;
}
.col-2set.singlesegment .col2 {
	float: right;
}
.col-2set.singlesegment .col1 .ss-wrapper {
	padding:0 15px 0 0;
}
.col-2set.singlesegment .col2 .ss-wrapper {
	padding:0 0 0 15px;
}
.col-2set.singlesegment .player, .col-2set.singlesegment .datatable #firstentry .player {
	width: 25%;
	padding-left:30px;
}
.col-2set.singlesegment .time-withloads, .col-2set.singlesegment .time-noloads {
	width: 30%;
}
#ss-p2, #ss-p1 {
	height: 200px;
	width: 100%;
	background: url(../images/ss_p2.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
}
#ss-p1 {
	background: url(../images/ss_p1.jpg);
}
#ss-p1 h1, #ss-p2 h1 {
	color: #f7fcff;
	opacity: 0.8;
	text-shadow: 0 0 5px #000000;
	overflow: hidden;
}
.col-2set.singlesegment .ss-info {
	position: absolute;
	left:50px;
	top:50px;
	width:500px;
}
.col-2set.singlesegment .ss-info h2 {
	position:absolute;
	top:40px;
	color: #f7fcff;
	opacity: 0.8;
	display: none;
	text-shadow: 0 0 5px #000000;
}
.col-2set.singlesegment .ss-info h2:nth-of-type(1) {
	display: block;
}
.col-2set.singlesegment .ss-tables {
	position: relative;
}
.col-2set.singlesegment .datatable {
	margin:0;
	display:none;
}
.col-2set.singlesegment .datatable:nth-of-type(1) {
	display: block;
}
.ss-notice { 
	margin-top: 15px;
	float: left;
	width: 100%;
}
.ss-controls span {
	display: inline-block;
	height:20px;
	width:20px;
	background: rgba(255, 255, 255, 0.5);
	color:#000;
	margin-right:6px;
	text-align: center;
	line-height:20px;
	font-weight: bold;
	cursor:pointer;
}
.ss-controls span.active {
	background: rgba(255, 255, 255, 0.8);
}
#profile {
    width: 980px;
    background: #FFF;
    min-height: 300px;
    margin: 30px auto;
    padding: 10px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}
#profile .userinformation {
    width: 100%;
    height: 270px;
    position: relative;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
}
#profile .userinformation .profilebg {
    background: #c6d7e1;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#profile .userinformation .profilebg.hasavatar img {
    width: 100%;
    position: relative;
    top: -500px;
}
#profile .userinformation .general {
    height: 270px;
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0 auto;
}
#profile .userinformation .general .general-wrapper img {
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.6);
    box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.6);
    margin-top: 15px;
}
#profile .userinformation .general .general-wrapper .nickname {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 8px;
}
#profile .userinformation .general .general-wrapper .profile-desc {
    font-size: 12px;
}
#profile .global-stats {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    background: #f9f9f9;
    color: #888888;
}
#profile .global-stats .block {
    float: left;
    width: 240px;
}
#profile .global-stats .block-container {
    width: 240px;
    float: left;
}
#profile .global-stats .block-container.mid {
    margin: 0 15px;
}
#profile .global-stats .block .block-inner {
    text-align: left;
    margin-top: 7px;
    margin-left: 15px;
}
#profile .global-stats .block .number {
    font-size: 40px;
    text-align: right;
    display: inline-block;
}
#profile .global-stats .block .number span {
    margin-right: 5px;
}
#profile .global-stats .block .number .no {
    margin-right: 8px;
}
#profile .global-stats .block .title {
    font-size: 13px;
    display: inline-block;
    text-align: left;
    position: relative;
    top: -2px;
    margin-left: 5px;
}

#profile .chapterwrs-wrapper, #changelogactivity {
    background: #f9f9f9;
}
#profile .chapterwrs-wrapper {
    height: 250px;
}
#profile .activity, #profile .chapter-wrs {
    float: left;
    width: 100%;
}
#profile .chapter-wrs {
    margin-left: 15px;
    width: 473px;
}
#profile .noactivity {
    float: left;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 17px;
    color: #888888;
    background: #f9f9f9;
}
#profile .noactivity span {
    display: block;
}
#profile .noactivity span.manualsearch, #profile .noactivity span.manualsearch a {
    font-size: 12px;
    color: #888888;
}
#profile .noactivity .noact-wrap {
    margin-top: 30px;
}
#profile .global-stats .upperth {
    position: relative;
    top: -0.7em;
    font-size: 50%;
}
#profile .profile-title span {
    padding-left: 20px;
}
#profile .profile-title {
    height: 35px;
    line-height: 35px;
    font-size: 11px;
    border-bottom: 2px solid #2f96d1;
    margin-top: 10px;
    background: #f9f9f9;
    color: #888888;
    float: left;
    width: 980px;
}
#profile .column-3 .column .profile-title {
    width: 100%;
}
#profile .column-3 .column {
    float: left;
    width: 320px;
    color: #888888;
}
#profile .column-3 .column.mid {
    margin: 0 10px;
}
#profile .column-3 .block-content {
    padding: 20px;
    float: left;
    background: #f9f9f9;
    width: 280px;
}
#profile .column-3 .chapter-name {
    width: 100%;
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 5px;
    text-transform: uppercase;
}
#profile .column-3 .chapter-content {
    padding: 10px 0 15px 0;
}
#profile .column-3 .chapter-content a {
    color: #888888;
    text-decoration: none;
}
#profile .column-3 .chapter-content a:hover {
    text-decoration: underline;
}
#profile .column-3 .point-chapter, #profile .column-3 .friendtobeat-entry {
    width: 100%;
    padding: 4px 0;
}
#profile .friendtobeat-entry.you {
    font-weight: bold;
}
#profile .friendtobeat-entry a {
    color: #888888;
    text-decoration: none;
}
#profile .friendtobeat-entry a:hover {
    text-decoration: underline;
}
#profile .friendtobeat-entry .ftb-nickname {
    text-transform: uppercase;
}
#profile .user-noexist {
    text-align: center;
    margin-top: 130px;
}
#profile .user-noexist .stmt {
    font-size: 13px;
}
.normalcontent.editprofile input {
    width: 300px;
}
#profile .usericons {
    margin-top: 10px;
}
#profile .usericons span {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: contain;
    margin: 0 3px;
}
#profile .usericons .twitch {
    background-image: url(images/twitchicon.png);
}
#profile .usericons .youtube {
    background-image: url(images/youtubeicon.png);
}
#profile .usericons .steam {
    background-image: url(images/steamicon.png);
}
#profile .twitch-linked {
    width: 960px;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    background: #7a49d4;
    color: #FFF;
    margin-top: 10px;
    display: none;
}
#profile .twitch-linked a {
    font-weight: bold;
    color: #FFF;
}
#profile #ytyt {
    width: 980px;
    height: 551px;
    position: relative;
    top: -115px;
}
#profile .place-expl {
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}